<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a style="pointer-events: none" class="navbar-brand" href="#">ToDoApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"></li>
        <li class="nav-item">
          <strong><a *ngIf="loggedIn()" [routerLink]="['todos']">My todo list</a></strong>
        </li>
        <li class="nav-item">
          <strong><a *ngIf="loggedIn()" [routerLink]="['create']">Create</a></strong>
        </li>
        <li class="nav-item">
          <strong><a *ngIf="loggedIn()" [routerLink]="['create']">Create</a></strong>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <strong><a *ngIf="!loggedIn()" [routerLink]="['/register']">Register</a></strong>
          </li>
          <li class="nav-item">
            <strong><a *ngIf="!loggedIn()" [routerLink]="['/login']">Login</a></strong>
          </li>
          <li *ngIf="loggedIn()" class="nav-item">
            <strong><button (click)="logout()" class="btn btn-dark">Logout</button></strong>
          </li>
        </ul>
      </form>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>